.containerHero {
  width: 360px;
  padding: 40px 16px 71px 16px;
  margin: 0 auto;
  background-image: url("../../img/heroMobile.jpg");
}

@media screen and (min-width: 768px) {
  .containerHero {
    width: 768px;
    padding: 89px 194px 88px 194px;
    background-image: url("../../img/heroTablet.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .containerHero {
    width: 1024px;
    padding: 164px 322px 163px 322px;
    background-image: url("../../img/heroLaptop.jpg");
  }
}

@media screen and (min-width: 1170px) {
  .containerHero {
    width: 1170px;
    padding: 164px 395px 163px 395px;
    background-image: url("../../img/heroDesk.jpg");
  }
}

.title {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 21px;
  color: var(--WhiteColor);
  text-align: center;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: var(--WhiteColor);
  margin-bottom: 32px;
  text-align: center;
}

.signUp {
  color: var(--BlackColor);
  background-color: var(--PrimaryColor);
  font-size: 16px;
  line-height: 26px;
  width: 100px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: none;
  margin: 0 auto;
}

.signUp:hover {
  background-color: var(--HoverColor);
}
