.btnContainer {
  display: flex;
  justify-content: center;
}

.btnShowMore {
  background-color: var(--PrimaryColor);
  color: var(--BlackColor);
  width: 120px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 16px;
  line-height: 26px;
  margin-top: 50px;
  border-radius: 80px;
}

.btnShowMore:hover {
  background-color: var(--HoverColor);
}
